/* Styles for PromptCard */

.prompt-card {
  border: 1px solid #d9d9d9;
}

.prompt-card .ant-card-body {
  padding: 0px !important;
}

.prompt-card-div {
  padding: 12px;
}

.prompt-card-div-body {
  padding: 0px 12px 12px;
}

.prompt-card-bg-col1 {
  background-color: #eceff3;
}

.prompt-card-rad {
  border-radius: 8px 8px 0px 0px;
}

.prompt-card-head-info-icon {
  color: #575859;
}

.prompt-card-actions-head {
  font-size: 12px;
  color: #575859;
}

.prompt-card-head .ant-typography {
  margin-bottom: 0px;
}

.prompt-card-divider {
  border-color: #d9d9d9;
  margin: 0px 0px;
}

.prompt-card-paginate-div {
  min-width: 80px;
}

.prompt-card-paginate {
  font-size: 12px;
}

.prompt-card-llm-profiles {
  display: flex;
  justify-content: space-between;
}

.prompt-card-comp-layout {
  width: 100%;
  padding: 12px;
  background-color: #f5f7f9;
}

.prompt-card-comp-layout-border {
  border-radius: 0px 0px 10px 10px;
}

.prompt-card-actions-dropdowns {
  display: flex;
}

.prompt-card-tags {
  padding: 0px 14px;
}

.prompt-card-result {
  padding-top: 12px;
  background-color: #fff8e6;
  border-radius: 0px 0px 8px 8px;
}

.prompt-card-result .ant-typography {
  margin-bottom: 0px;
}

.prompt-card-res {
  white-space: pre-wrap;
}

.prompt-card-select-type {
  width: 100px;
}

.prompt-card-gap {
  margin-bottom: 2px;
}

.prompt-card-action-button.ant-btn-text:disabled > .prompt-card-actions-head {
  color: rgba(0, 0, 0, 0.25);
}

.tag-max-width {
  max-width: 150px;
}

.prompt-card-collapse {
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
}

.prompt-card-collapse .ant-collapse-header {
  display: none !important;
  padding: 0 !important;
}

.prompt-card-collapse .ant-collapse-content-box {
  padding: 0px !important;
}
