.detailed-logs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.logging-card-title {
  font-weight: 600;
  font-size: 14px;
}

.logs-details-card {
  width: 250px;
  margin: 0;
  padding: 0;
  height: 60px;
  margin-right: 20px;
}

.logging-card-icons {
  margin: 0 12px;
}

.view-log-button {
  margin-right: 24px;
}

.column-filter-dropdown {
  margin-bottom: 20px;
}

.search-container {
  padding: 8px;
}

.search-input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}
