/* Styles for ToolSettings */

.plt-tool-settings-layout {
  background-color: var(--page-bg-2);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.island-layout {
  overflow: hidden;
}

.plt-tool-settings-layout-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 18px;
}

.plt-tool-settings-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.plt-tool-settings-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.plt-tool-settings-title .typo-text {
  font-size: 18px;
  font-weight: 600;
}
