default_language_version:
  python: python3.12
default_stages:
  - pre-commit

ci:
  skip:
    - hadolint-docker # Fails in pre-commit CI
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude_types:
          - "markdown"
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files
        args: ["--maxkb=10240"]
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-ast
      - id: check-json
        exclude: ".vscode/launch.json"
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: no-commit-to-branch

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.4.0
    hooks:
      - id: pycln
        entry: uv run pycln
        args: [--config=pyproject.toml]

  # - repo: https://github.com/pycqa/docformatter
  #   rev: v1.7.5
  #   hooks:
  #     - id: docformatter
  #       language: python

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
      - id: pyupgrade
        entry: pyupgrade --py39-plus --keep-runtime-typing
        types:
          - python

  # - repo: https://github.com/astral-sh/uv-pre-commit
  #   rev: 0.6.11
  #   hooks:
  #     - id: uv-lock

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        language: system
        entry: uv run mypy .
        pass_filenames: false
        additional_dependencies: []

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013]
      - id: markdownlint-fix
        args: [--disable, MD013]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: htmlhint

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args:
          - --ignore=DL3003
          - --ignore=DL3008
          - --ignore=DL3013
          - --ignore=DL3018
          - --ignore=SC1091
        files: Dockerfile$
