[project]
name = "unstract"
version = "0.1.0"
requires-python = ">=3.9,<3.11.1"
dependencies = []

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.dev-dependencies]
lint = [
    "autopep8~=2.0.2",
    "black~=24.3.0",
    "docutils~=0.20.1",
    "flake8~=7.0.0",
    "flake8-pyproject~=1.2.2",
    "isort~=5.13.2",
    "mypy~=1.9.0",
    "pre-commit~=3.6.2",
    "types-PyMySQL~=1.1.0.1",
    "types-pyOpenSSL~=24.0.0.20240311",
    "types-PyYAML~=6.0.12.12",
    "types-redis~=4.6.0.3",
    "types-requests~=2.31.0.6",
    "types-tzlocal~=5.1.0.1",
    "yamllint>=1.35.1",
]
hook-check-django-migrations = [
    "celery>=5.3.4",
    "cron-descriptor==1.4.0",
    "django==4.2.1",
    "djangorestframework==3.14.0",
    # Pinning django-celery-beat to avoid build issues
    "django-celery-beat==2.5.0",
    "django-cors-headers>=4.3.1",
    "django-redis==5.4.0",
    "django-tenants==3.5.0",
    "drf-yasg==1.21.7",
    "social-auth-app-django==5.3.0",
    "psycopg2-binary==2.9.9",
    "python-dotenv==1.0.0",
    "python-magic==0.4.27",
    "unstract-sdk~=0.60.0",
    "-e unstract-connectors @ file:///${PROJECT_ROOT}/unstract/connectors",
    "-e unstract-core @ file:///${PROJECT_ROOT}/unstract/core",
    "-e unstract-flags @ file:///${PROJECT_ROOT}/unstract/flags",
    "-e unstract-tool-registry @ file:///${PROJECT_ROOT}/unstract/tool-registry",
    "-e unstract-tool-sandbox @ file:///${PROJECT_ROOT}/unstract/tool-sandbox",
    "-e unstract-workflow-execution @ file:///${PROJECT_ROOT}/unstract/workflow-execution",
    "-e unstract-filesystem @ file:///${PROJECT_ROOT}/unstract/filesystem"
]

[tool.black]
line-length = 88
target-version = ['py39']

[tool.pycln]
all = true

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
profile = "black"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "backend.settings.test_cases"
python_files = ["tests.py", "test_*.py", "*_tests.py"]

[tool.mypy]
allow_subclassing_any = true
allow_untyped_decorators = true
check_untyped_defs = true
exclude = '''(?x)^(
    .*migrations/.*\.py|
    backend/prompt/.*|
    unstract/connectors/tests/.*|
    unstract/core/.*|
    unstract/flags/src/unstract/flags/.*|
    __pypackages__/.*|
)$'''
follow_imports = "silent"
ignore_missing_imports = true
implicit_reexport = true
pretty = true
python_version = "3.9"
show_column_numbers = true
show_error_codes = true
strict = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true
