/* Styles for OutputAnalyzer */

.output-analyzer-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--page-bg-2);
  overflow-y: hidden;
}

.output-analyzer-header {
  padding: 10px;
  background-color: #f5f7f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-analyzer-header .title {
  font-size: 16px;
}

.output-analyzer-body {
  padding: 12px;
  height: 100%;
  overflow-y: auto;
}

.public-output-analyzer-body {
  padding: 12px;
  overflow-y: auto;
  width: 100vw;
}

.output-analyzer-body2 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.output-analyzer-card-head {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #eceff3;
}

.output-analyzer-main {
  flex: 1;
  overflow-y: hidden;
}

.output-analyzer-left-box {
  padding-right: 6px;
  height: 100%;
  overflow-y: auto;
}

.output-analyzer-left-box > div {
  height: 100%;
  background-color: var(--white);
  padding: 0px 12px;
}

.output-analyzer-right-box {
  padding-left: 6px;
  height: 100%;
}

.output-analyzer-right-box > div {
  height: 100%;
  background-color: var(--white);
}
