READ_FOLDER_PATH=fsspec-test/input
WRITE_FOLDER_PATH=fsspec-test/output
RECURSION_FOLDER_PATH=fsspec-test/output/recursion-test
READ_PDF_FILE=fsspec-test/input/2.pdf
READ_TEXT_FILE=fsspec-test/input/1.txt
WRITE_PDF_FILE=fsspec-test/output/2.pdf
WRITE_TEXT_FILE=fsspec-test/output/1.txt
TEST_FOLDER=fsspec-test/test-folder
GCS_BUCKET=fsspec-test/input
TEXT_CONTENT=Writing directly from string as read_file is not passed
FILE_STORAGE='{"GOOGLE_APPLICATION_CREDENTIALS": "/../google-creds.json","PROJECT_ID": "abcdef"}'
