/* Styles for CustomButton */

.custom-button-primary {
  background-color: #092c4c;
  border-color: #092c4c;
  color: #ffffff;
}

.custom-button-primary:not([disabled]):hover {
  background-color: #0e4274 !important;
  border-color: #0e4274;
  color: #ffffff;
}
