/* Styles for AddCustomToolForm */

.add-cus-tool-header {
  font-size: 16px;
  font-weight: bold;
}

.add-cus-tool-gap {
  margin-bottom: 16px;
}

.emoji-modal .ant-modal-content {
  padding: 0;
  width: fit-content;
}
