/* Styles for DocumentManager */

.doc-manager-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 14px;
    overflow-y: hidden;
}

.doc-manager-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.doc-manager-btn {
    max-width: 200px;
}

.doc-manager-body {
    flex: 1;
    overflow-y: auto;
}

.doc-manager-paginate-icon {
    font-size: 12px;
}

.rpv-default-layout__sidebar-headers {
    background-color: #F8FBFF;
}

.rpv-default-layout__toolbar {
    background-color: #F8FBFF;
}

.rpv-default-layout__container {
    border: 0 !important;
}