/* Styles for DocumentManager */

.doc-manager-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

.doc-manager-header {
    display: flex;
    justify-content: space-between;
}

.doc-manager-btn {
    max-width: 250px;
}

.doc-manager-body {
    flex: 1;
    overflow-y: auto;
}

.doc-manager-paginate-icon {
    font-size: 12px;
}

.text-viewer-layout {
    padding: 0px 12px;
    overflow-y: auto;
}

.rpv-default-layout__sidebar-headers {
    background-color: #F8FBFF;
}

.rpv-default-layout__toolbar {
    background-color: #F8FBFF;
}

.rpv-default-layout__container {
    border: 0 !important;
}

.doc-main-title{
    color: darkgray;
    font-weight: 600;
}
