.storageExplorer {
  height: 100%;
  overflow: hidden;
}

.explorerTree {
  height: calc(100% - 66px);
  overflow: auto;
  padding-inline: 8px;
  padding-block: 8px;
  margin-block-start: 4px;
}

.fileHeading {
  padding-inline-start: 16px;
  margin-block-start: 8px;
}

.fileText {
  width: calc(100% - 26px);
  display: inline-grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 20px;
  margin-inline-start: 2px;
}

.toolBar {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto;
  align-items: center;
  column-gap: 12px;
}

.ant-dropdown-menu-title-content > .settings-button {
  color: inherit;
  border-color: transparent;
  background: inherit;
  box-shadow: none;
  text-align: left;
  padding: 0;
  height: auto;
  border-radius: 0;
}

.ant-dropdown-menu-title-content > .settings-button:active {
  color: inherit;
  border-color: transparent;
}

.ant-tree-treenode-selected .ant-typography {
  color: #fff !important;
}
