/* Styles for ManageDocsModal */

.manage-docs-upload {
    background-color: #0000000A;
}

.manage-docs-items-list {
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
}

.manage-docs-item {
    display: flex;
    justify-content: space-between;
}

.manage-docs-div {
    margin: 0;
}

.summarization-status-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.summarization-status-enabled {
    background-color: #52c41a;
}

.summarization-status-disabled {
    background-color: #ff4d4f;
}
