/* Styles for Header */

.header-layout {
    padding: 8px;
    background-color: #F5F7F9;
    display: flex;
    align-items: center;
}

.header-btns {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.header-btns > div {
    padding: 0px 5px;
}

.header-name {
    padding: 0px 8px;
}
