[project]
name = "unstract-platform-service"
version = "0.0.1"
description = "Helps tools interact and retrieve details from the Unstract platform through the Unstract SDK"
authors = [
    {name = "Zipstack Inc.", email = "devsupport@zipstack.com"},
]
dependencies = [
    "flask~=3.0.0",
    "peewee~=3.16",
    "psycopg2-binary~=2.9",
    "python-dotenv~=1.0",
    "redis~=5.0.1",
    "cryptography>=41.0.7",
    "unstract-flags @ file:///${PROJECT_ROOT}/../unstract/flags",
    "requests>=2.31.0",
    "unstract-sdk~=0.54.0rc2",
    "gcsfs==2024.10.0",
]
requires-python = ">=3.9,<3.11.1"
readme = "README.md"
license = {text = "MIT"}


[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.build]
includes = ["src"]
package-dir = "src"

[tool.pdm.dev-dependencies]
test = [
    "pytest>=8.0.1",
]
deploy = [
    "gunicorn>=21.2.0",
]

[tool.pdm.scripts]
platform_service.cmd = "./entrypoint.sh"
platform_service.env_file = ".env"
platform_service.help = "Runs the Unstract platform service"
