.ds-card {
  background-color: white;
  border: 1px solid #0000000f;
  width: 240px;
}

.ds-card .ant-card-body {
  padding: 0px;
}

.ds-card .cover-img {
  height: 50%;
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ds-card-name {
  width: 100%;
  border-top: 1px solid #0000000f;
  padding: 10px 0px;
  background-color: #00000005;
}

.disabled-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.cover-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-img {
  position: relative;
  z-index: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.ds-card.disabled {
  opacity: 0.7;
}
