/* Styles for PipelinesOrDeployments */

.p-or-d-layout {
    background-color: var(--page-bg-2);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p-or-d-body1 {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
}

.p-or-d-body2 {
    background-color: var(--white);
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.p-or-d-footer {
    padding: 0px 12px 12px;
}

.p-or-d-header {
    display: flex;
    margin-bottom: 12px;
}

.p-or-d-header .header-text .typo-text {
    font-size: 18px;
}

.p-or-d-header .header-btn {
    margin-left: auto;
}

.p-or-d-table {
    flex: 1;
    overflow-y: auto;
}

.p-or-d-typography {
    font-size: 12px;
}

.p-or-d-actions {
    cursor: pointer;
}

.action-items {
    display: flex;
}
