/* Styles for SidePanel */

.sidepanel-layout {
  padding: 0px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.sidepanel-content {
  flex: 1;
  overflow-y: auto;
}
