.ds-set-card-col3 {
  z-index: 10;
}

.ds-set-card-col2 {
  z-index: 20;
}

.ds-set-card-select {
  width: 200px !important;
}

.ds-set-card-btn {
  align-self: flex-end;
}

.ds-set-card-message {
  margin-bottom: 0px !important;
}
