services:
  frontend:
    image: unstract/frontend:${VERSION}
    build:
      dockerfile: docker/dockerfiles/frontend.Dockerfile
      context: ..
  backend:
    image: unstract/backend:${VERSION}
    network_mode: host
    build:
      dockerfile: docker/dockerfiles/backend.Dockerfile
      context: ..
  worker:
    image: unstract/worker:${VERSION}
    build:
      dockerfile: docker/dockerfiles/worker.Dockerfile
      context: ..
  platform-service:
    image: unstract/platform-service:${VERSION}
    network_mode: host
    build:
      dockerfile: docker/dockerfiles/platform.Dockerfile
      context: ..
  prompt-service:
    image: unstract/prompt-service:${VERSION}
    network_mode: host
    build:
      dockerfile: docker/dockerfiles/prompt.Dockerfile
      context: ..
  x2text-service:
    image: unstract/x2text-service:${VERSION}
    build:
      dockerfile: docker/dockerfiles/x2text.Dockerfile
      context: ..
