# Add your dependencies here

# Required for all unstract tools
# aws alone is needed here
# because tools use transient temporary storage.
unstract-sdk[aws]~=0.78.0
-e file:/unstract/sdk1
-e file:/unstract/flags
json-repair>=0.25.0
