/* Styles for WorkflowExecution */

.wf-exec-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.wf-exec-heading {
  margin-bottom: 6px;
}

.wf-exec-heading-typo {
  font-size: 18px;
}

.wf-exec-main {
  flex: 1;
  overflow-y: hidden;
}
