/* Styles for ContentCenterLayout */

.content-center-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-center-header {
  padding: 10px;
}

.content-center-header-text {
  font-weight: bold;
}

.content-center-body {
  flex: 1;
}

.content-center-body-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-center-body-3 {
  text-align: center;
}
