/* Styles for Actions */

.actions-container {
  display: flex;
  justify-content: space-between;
  /* Space between the buttons and the status bar */
  align-items: center;
  /* Vertically center align the status bar */
}

.status-bar {
  flex-grow: 1;
  /* Allow the status bar to expand and fill the available space */
  text-align: right;
  /* Align text to the right within the status bar */
}

.step-icon {
  opacity: 0.6;
  image-rendering: pixelated;
}
