/* Styles for ConfigureConnectorModal */

.conn-modal-body {
  height: 800px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.conn-modal-row {
  flex: 1;
  overflow-y: hidden;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
}

.conn-modal-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.conn-modal-col-left {
  background-color: var(--page-bg-3);
}

.conn-modal-tab-body {
  flex: 1;
  overflow-y: hidden;
}

.conn-modal-gap {
  margin-bottom: 8px;
}

.conn-modal-menu {
  height: 100%;
  overflow-y: auto;
  background-color: transparent;
}

.conn-modal-form-pad-right {
  padding: 0px 8px 0px 8px;
  border-right: 1px solid #d4d4d4;
}

.conn-modal-form-pad-left {
  padding: 4px 20px 0px 20px;
}

.conn-modal-form-right {
  padding: 12px 12px 0px 0px;
  padding-right: 20px;
  border-right: 1px solid #d4d4d4;
  height: 100%;
}

.conn-modal-form-left {
  padding: 12px 0px 0px 12px;
  padding-left: 20px;
  height: 100%;
}

.conn-modal-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.conn-modal-flex-1 {
  flex: 1;
  overflow-y: auto;
}

.form-right {
  padding: 8px 8px 0px 0px;
}

.sidebar-menu {
  margin-top: 10px;
  background-color: transparent;
}

.sidebar-menu .ant-menu-item {
  padding: 5px !important;
}

.sidebar-menu .ant-menu-title-content {
  margin-left: 5px;
}

.conn-modal-col .ant-tabs-nav {
  margin: 0px;
}
