.title-name-redirect {
  word-break: break-all;
}

.logs-table-container .ant-table-wrapper {
  height: 100%;
}

.gen-index-progress {
  color: #faad14;
}

.gen-index-success {
  color: #52c41a;
}

.gen-index-fail {
  color: #ff4242;
}

.status-container {
  display: inline-block;
  margin-right: 10px;
}
