.sidebar-layout {
  margin: 5px;
}

.sidebar-menu {
  margin-top: 10px;
  background-color: transparent;
}

.sidebar-menu .ant-menu-item {
  padding: 5px !important;
}

.sidebar-menu .ant-menu-title-content {
  margin-left: 5px;
}
