.landingPage {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.topNav {
  background-color: var(--primary);
  padding-block: 14px;
  padding-inline-start: 20px;
  padding-inline-end: 12px;
}
.logoNoMargin {
  margin-inline-end: 12px;
}

.collapse_btn {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
}

.log-footer {
  padding: 0;
  position: relative;
  height: 53px;
}

.ide-collapse-panel {
  background-color: var(--white);
  border-top: 1px rgba(0, 0, 0, 0.15) solid;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logs-title {
  text-align: center;
  align-items: center;
}
