.chat-input-box {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.chat-input-box div {
    width: 100%;
}
.chat-input-box input{
    width: 95%;
    height: 30px;
    border-radius: 8px !important;
    padding: 5px;
    border: 1px solid #00000026;
}
.chat-input-box button {
    background: none;
    border: none;
    cursor: pointer;
}
.chat-input-box svg {
    height: 30px;
    width: 20px;
    color: gray;
    position: relative;
    right: 30px;
    top: 5px;
}
.chat-messages {
    flex-direction: column-reverse;
    display: flex;
    height: 90%;
    overflow: scroll;
}
