SERVICE_API_TOKEN=""
UPLOAD_FOLDER="/app/uploads"
PROCESS_FOLDER="/app/processed"
LIBREOFFICE_PYTHON="/usr/bin/python3"
MAX_FILE_SIZE=31457280


#Redis
REDIS_HOST="unstract-redis"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_USER=default
