/* Styles for GenerateIndex */

.gen-index-text {
  font-size: 16px;
}

.gen-index-progress {
  color: #faad14;
}

.gen-index-success {
  color: #52c41a;
}

.gen-index-fail {
  color: #ff4242;
}

.gen-index-icon {
  font-size: 24px;
}
