/* Styles for WorkflowExecutionLayout */

.wf-exec-main-layout {
  height: 100%;
  overflow-y: hidden;
}

.wf-exec-main-col-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 6px;
  overflow-y: hidden;
}

.wf-exec-main-col-2 {
  height: 100%;
  padding-left: 6px;
}

.wf-exec-main-prompt {
  padding-bottom: 6px;
}

.wf-exec-main-steps {
  flex: 1;
  overflow: hidden;
}
