.prompt-share-typography-title{
    font-size: 16px;
    font-weight: 600;
}


.prompt-share-typography-info{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.prompt-share-info{
    padding-left:42px;
    padding-right: 35px;
    padding-bottom:10px;
    text-wrap: wrap;
}

.prompt-share-title{
    padding-top:15px;
    padding-left: 15px;
}

.prompt-share-icons{
    padding-right: 10px;
}
