.codeActions .copyCodeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
}

.codeActions .copyCodeBtn:hover {
  background: fixed;
}

.codeActions .codeLanguage {
  width: 150px;
  margin-right: 10px;
}
